---
import Card from "../../../components/Card.astro";
import Default from "../../../layouts/Default.astro";

import { getCollection } from "astro:content";
const posts = (await getCollection("blog")).sort(
    (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);
---

<Default title="A Cavernous Blog | Grayvox">
    <div>
        <h1>A Cavernous Blog</h1>
        <p>
            Thoughts? Rants? Ramblings? Lectures? Lessons? Hard to know. Read
            and find out.
        </p>
    </div>
    <div>
        <ul>
            {
                posts.map((post) => (
                    <li>
                        <a class="no-line" href=`/writings/blog/${post.id}`>
                            <Card
                                title={post.data.title}
                                timestamp={post.data.date}
                                tag={post.data.tag}
                                hover={true}
                            >
                                {post.data.summary}
                            </Card>
                        </a>
                    </li>
                ))
            }
        </ul>
    </div>
</Default>
