---
import Card from "../components/Card.astro";
import Link from "../components/Link.astro";
import Default from "../layouts/Default.astro";

const methods = [
    {
        link: "mailto:gray@grayvox.com",
        title: "Email",
        usage: "For business and collabs",
        handle: "gray@grayvox.com",
    },
    {
        link: "https://discord.com/users/1263900642741583923",
        title: "Discord",
        usage: "For everything",
        handle: "@grayvoxdev",
    },
    {
        link: "https://bsky.app/profile/grayvox.com",
        title: "Bluesky",
        usage: "For personal communication",
        handle: "@grayvox.com",
    },
    {
        link: "https://x.com/GrayvoxDev",
        title: "Twitter",
        usage: "For personal communication (I don't really use this)",
        handle: "@GrayvoxDev",
    },
];
---

<Default title="Contact Me | Grayvox">
    <div>
        <h1>Contact Me</h1>
        <p>In level of "priority"</p>
        <div>
            {
                methods.map((method) => (
                    <Link to={method.link} line={false}>
                        <Card
                            title={method.title}
                            subtext={method.usage}
                            hover={true}
                        >
                            <p class="no-break">{method.handle}</p>
                        </Card>
                    </Link>
                ))
            }
        </div>
    </div>
</Default>
