---
import BasicCard from "../components/BasicCard.astro";
import Default from "../layouts/Default.astro";

import { getCollection } from "astro:content";

const media = (await getCollection("projects")).filter(entry => {
        return entry.data.category == 'media'
    }
);
const programming = (await getCollection("projects")).filter(entry => {
        return entry.data.category == 'programming'
    }
);
---

<Default title="Project Roster | Grayvox">
    <div>
        <h1>Project Roster</h1>
        <p>
            Any projects I'm actively working on that <i>aren't</i> just words on
            "paper".
        </p>
    </div>
    <div>
        <div>
            <h2>Media</h2>
            <ul class="mt-10">
                {
                    media.map((project) => (
                        <li>
                            <BasicCard
                                title={project.data.title}
                                subtext={project.data.subtext}
                                links={project.data.links}
                            >
                                {project.body}
                            </BasicCard>
                        </li>
                    ))
                }
            </ul>
        </div>
        <hr>
        <div>
            <h2>Dev Work</h2>
            <ul class="mt-10">
                {
                    programming.map((project) => (
                        <li>
                            <BasicCard
                                title={project.data.title}
                                subtext={project.data.subtext}
                                links={project.data.links}
                            >
                                {project.body}
                            </BasicCard>
                        </li>
                    ))
                }
            </ul>
        </div>
    </div>
</Default>
